<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/700da961d8.js" crossorigin="anonymous"></script>
    <title>Craftsy</title>
</head>

<body class="home">
    <header class="home__header">
        <div class="home__header--top">
            <img src="/img/logo.png" alt="logo">
            <button class="home__header--bars">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <div class="home__header--menu">
            <nav>
                <ul>
                    <li><a href="">smartphone</a></li>
                    <li><a href="">tablets</a></li>
                    <li><a href="">computadoras</a></li>
                </ul>
                <ul>
                    <li><a href="/login">login</a></li>
                    <li><a href="/register">regristro</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="home__box">
        <main class="home__main">
            <div>
                <article class="home__main__article">
                    <img src="/img/img-phone-01.jpg" alt="phone-01">
                    <div class="home__main__article--description">
                        <h4>nombre del producto</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, rem?
                        </p>
                        <a href="">ver más</a>
                    </div>

                </article>
                <article class="home__main__article">
                    <img src="/img/img-phone-02.jpg" alt="phone-02">
                    <div class="home__main__article--description">
                        <h4>nombre del producto</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, rem?
                        </p>
                        <a href="">ver más</a>
                    </div>

                </article>
                <article class="home__main__article">
                    <img src="/img/img-phone-03.jpg" alt="phone-03">
                    <div class="home__main__article--description">
                        <h4>nombre del producto</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, rem?
                        </p>
                        <a href="">ver más</a>
                    </div>

                </article>
                <article class="home__main__article">
                    <img src="/img/img-phone-01.jpg" alt="phone-01">
                    <div class="home__main__article--description">
                        <h4>nombre del producto</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, rem?
                        </p>
                        <a href="">ver más</a>
                    </div>

                </article>
                <article class="home__main__article">
                    <img src="/img/img-phone-02.jpg" alt="phone-02">
                    <div class="home__main__article--description">
                        <h4>nombre del producto</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, rem?
                        </p>
                        <a href="">ver más</a>
                    </div>

                </article>
                <article class="home__main__article">
                    <img src="/img/img-phone-03.jpg" alt="phone-03">
                    <div class="home__main__article--description">
                        <h4>nombre del producto</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, rem?
                        </p>
                        <a href="">ver más</a>
                    </div>
                </article>
            </div>
        </main>
        <aside class="home__aside">
            <section class="home__aside__section">
                <h3>Tutoriales</h3>
                <article class="home__aside--article">
                    <img src="/img/aside-01.jpg" alt="titulo del tutorial de reparacion">
                    <h5>titulo del tutorial de reparacion</h5>
                </article>
                <article class="home__aside--article">
                    <img src="/img/aside-02.jpg" alt="titulo del tutorial de reparacion">
                    <h5>titulo del tutorial de reparacion</h5>
                </article>
                <article class="home__aside--article">
                    <img src="/img/aside-03.jpg" alt="titulo del tutorial de reparacion">
                    <h5>titulo del tutorial de reparacion</h5>
                </article>
                <article class="home__aside--article">
                    <img src="/img/aside-04.jpg" alt="titulo del tutorial de reparacion">
                    <h5>titulo del tutorial de reparacion</h5>
                </article>
            </section>
            <section class="home__aside__section">
                <h3>publicidad</h3>
            </section>
            <div class="home__aside__section--ads">
                <img src="/img/publicidad-01.jpg" alt="ad-01">
                <img src="/img/publicidad-02.jpg" alt="ad-02">
            </div>
        </aside>
    </div>


</body>

</html>