/* HEADER */

.home__header {
  background-color: orangered;
  padding: 10px;
}

.home__header--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__header--top button {
    background: none;
    border: none;
    color: white;
    border: solid 1px white;
    border-radius: 2px;
    padding: 8px;
    line-height: 0;
    font-size: 1.2rem;
}

.home__header--menu ul {
  margin-top: 10px;
  text-transform: uppercase;
}
